.step {
  pre {
    max-width: 100%;
    max-height: 500px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: unset;
    overflow-y: auto;
    overflow-x: hidden;
  }

  video {
    max-width: 100%;
  }
}

.info,
.actions {
  margin-bottom: 0.25rem;
}

.actions {
  display: flex;
  align-items: center;
}
