.steps {
  counter-reset: steps;
  list-style-type: none;
  display: grid;
  padding: 0;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;

  &:before {
    content: '';
    display: block;
    position: absolute;
    border-top: 1px solid var(--color-fg-soft);
    left: 0;
    top: 0.75rem;
    right: 0;
    bottom: 0;
  }

  li {
    counter-increment: steps;
    position: relative;
    padding: 1rem;
    padding-top: 1.5rem;
    cursor: pointer;
    text-align: center;
    color: var(--color-fg-soft);
    font-size: 0.9rem;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      width: 2rem;
      transform: translate(-50%);
      top: 0;
      height: 1.5rem;
      background: var(--color-bg);
    }

    &:first-child {
      &:before {
        left: 0;
        width: calc(50% + 1rem);
        transform: unset;
      }
    }

    &:last-child {
      &:before {
        left: unset;
        right: 0;
        width: calc(50% + 1rem);
        transform: unset;
      }
    }

    &:after {
      width: 1.2rem;
      height: 1.2rem;
      font-size: 0.8rem;
      padding: 0.5rem 0.3rem;
      box-sizing: border-box;

      position: absolute;
      top: 0.25rem;
      left: 50%;
      transform: translate(-50%, 0);
      border: 1px solid var(--color-fg);
      border-radius: 100%;
      content: counter(steps);
      line-height: 0;
      background: var(--color-bg);
    }

    &.current {
      &:after {
        background: var(--color-fg-soft);
        color: var(--color-bg);
      }
    }
  }
}
